auto-install-peers=true
strict-peer-dependencies=false
shamefully-hoist=false
public-hoist-pattern[]=@babel/runtime
public-hoist-pattern[]=@babel/runtime-corejs3
public-hoist-pattern[]=@react-native/*
public-hoist-pattern[]=react-native
public-hoist-pattern[]=*react-native*
# electron-builder の依存 sharp がグローバル libvips を検知してソースビルドを試みるのを防ぐ
sharp_ignore_global_libvips=true
